global
    log stdout format raw local0 info
    stats socket /tmp/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    maxconn 4096

defaults
    log global
    mode http
    option httplog
    option forwardfor
    option http-server-close
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend web_in
    bind *:80
    http-request capture req.cook(sid) len 64

    acl has_session_route req.cook(sid),map_str(/etc/haproxy/maps/session_routes.map) -m found
    use_backend %[req.cook(sid),map_str(/etc/haproxy/maps/session_routes.map)] if has_session_route

    acl is_api path_beg /api/
    use_backend normal_api if is_api
    default_backend web_frontend

backend web_frontend
    server frontend frontend:80 check

backend normal_api
    option httpchk GET /api/health
    http-request set-header X-Forwarded-Service normal
    server backend backend:5000 check

backend sqli_pot
    option httpchk GET /api/health
    http-request set-header X-Forwarded-Service sqli_pot
    server sqli_pot sqli_pot:5001 check

backend ssti_pot
    option httpchk GET /api/health
    http-request set-header X-Forwarded-Service ssti_pot
    server ssti_pot ssti_pot:5002 check

backend cmdi_pot
    option httpchk GET /api/health
    http-request set-header X-Forwarded-Service cmdi_pot
    server cmdi_pot cmdi_pot:5003 check

backend ssrf_pot
    option httpchk GET /api/health
    http-request set-header X-Forwarded-Service ssrf_pot
    server ssrf_pot ssrf_pot:5004 check

frontend stats_in
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:meridian
    stats show-legends
